<section class="carousel slide cid-rD5UtQovTm" data-interval="false" id="slider1-b">


  <div class="full-screen">
    <div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="false"
         data-interval="false">
      <ol class="carousel-indicators">
        <li data-app-prevent-settings="" data-target="#slider1-b" data-slide-to="0" class=" active"></li>
        <li data-app-prevent-settings="" data-target="#slider1-b" data-slide-to="1"></li>
        <li data-app-prevent-settings="" data-target="#slider1-b" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div id="slider1" class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false">
          <div class="container container-slide">
            <div class="image_wrapper">
              <div class="mbr-overlay"></div>
              <div class="carousel-caption justify-content-center">
                <div class="col-10 align-left"><h2 class="mbr-fonts-style display-1">Browse
                  Tournaments</h2>
                  <p class="lead mbr-text mbr-fonts-style display-5">&nbsp;lorem ipsum</p>
                  <div class="mbr-section-btn" buttons="0"><a class="btn btn-success display-4"
                                                              href="#">BROWSE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="slider2" class="carousel-item slider-fullscreen-image " data-bg-video-slide="false"
        >
          <div class="container container-slide">
            <div class="image_wrapper">
              <div class="mbr-overlay"></div>
              <div class="carousel-caption justify-content-center">
                <div class="col-10 align-right"><h2 class="mbr-fonts-style display-1">Mobile App</h2>
                  <p class="lead mbr-text mbr-fonts-style display-5">Slide with youtube video
                    background and color overlay. Title and text are aligned to the left.</p>
                  <div class="mbr-section-btn" buttons="0"><a class="btn display-4 btn-success"
                                                              href="#">DOWNLOAD<br></a>
                    <a class="btn  btn-white-outline display-4" href="#">MORE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="slider3" class="carousel-item slider-fullscreen-image " data-bg-video-slide="false"
             style="">
          <div class="container container-slide">
            <div class="image_wrapper">
              <div class="mbr-overlay"></div>

              <div class="carousel-caption justify-content-center">
                <div class="col-10 align-left"><h2 class="mbr-fonts-style display-1">Join Comunity</h2>
                  <p class="lead mbr-text mbr-fonts-style display-5">&nbsp;lorem ipsum</p>
                  <div class="mbr-section-btn" buttons="0"><a class="btn display-4 btn-success"
                                                              href="#">SIGNUP</a>
                    <a class="btn  btn-white-outline display-4"
                       href="#">SIGNIN</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button"
         data-slide="prev" href="#slider1-b">
        <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button"
         data-slide="next" href="#slider1-b">
        <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
        <span class="sr-only">Next</span></a></div>
  </div>

</section>


<section class="bestTournament-section features3 cid-rDubsQUCDh" id="features3-1m">

  <!--<div class="container">
      <div class="alert alert-success alert-dismissible col-12" ng-if="msg">
        <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
        {{msg}}
      </div>-->

  <div class="container">
    <div class="media-container-row">
      <div class="title col-12 align-center">
        <h2 class="pb-3 mbr-fonts-style display-2"><strong>
          BROWSE OUR FANTASTIC TOURNAMENTS
        </strong></h2>
        <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5">
          This theme is based on Bootstrap 4 - most powerful mobile first framework
        </h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

      <div class="row">
        <div class="col-12" style="margin: auto;text-align: center">

          <img class="games" src="assets/images/ow.png" alt="logo_game" ng-click=
            "selectGameCategory('ow')">
          <img class="games" src="assets/images/hs.png" alt="logo_game"
               ng-click="selectGameCategory('hs')">
          <img class="games" src="assets/images/wow.png" alt="logo_game"
               ng-click="selectGameCategory('wow')">
          <button class="btn btn-sm btn-success display-4 btn-round" ng-click="selectGameCategory('')">
            All
          </button>
        </div>

      </div>

    </div>
    <div class="col-md-2"></div>
  </div>

  <!--<div class="row media-container-row">

    <a class="card p-3 col-12 col-md-4"
       ng-repeat="match in tournaments | filter: { game: selectedCategory } "
       ng-href="#!/browse-tournament/{{match.id}}">
      <div class="card-wrapper">
        <div class="card-img">
          <img ng-src="{{match.img}}" alt="Mobirise" style="height: 200px">
        </div>
        <div class="card-box">
          <h4 class="card-title mbr-fonts-style display-7"
              style="margin-top: 20px; text-transform: uppercase;font-weight: bold">
            {{match.title}}
            <hr>
          </h4>
          <div class="mbr-text mbr-fonts-style display-7">

            <div class="row ">
              <div class="col-6">
                DATE: {{match.date}}
              </div>
              <div class="col-6">
                TIME: {{match.time}}
              </div>
            </div>
            <div class="row ">
              <div class="col-6">
                PLAYERS: {{match.busy}}/{{match.players}}
              </div>
              <div class="col-6">
                GAME: {{match.game}}
              </div>
            </div>

          </div>
        </div>
        <hr>
      </div>
    </a>
  </div>-->

  <div class="more-button">
    <a href="#!/browse-tournament" class="btn btn-lg btn-sm btn-success display-4 btn-round">
      More...
    </a>
  </div>


</section>

<section class="tech-section testimonials1 cid-rD67Fq2bAB" id="testimonials1-m">


  <div class="container">
    <div class="media-container-row">
      <div class="title col-12 align-center">
        <h2 class="pb-3 mbr-fonts-style display-2"><strong>
          BEHIND THE SCENES
        </strong></h2>
        <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5">
          This theme is based on Bootstrap 4 - most powerful mobile first framework
        </h3>
      </div>
    </div>
  </div>

  <div class="container pt-3 mt-2">
    <div class="media-container-row">
      <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
        <div class="panel-item p-3">
          <div class="card-block">
            <div class="testimonial-photo">
              <img src="assets/images/angularjs-e1479300327497-240x240.png" alt="tech-img">
            </div>
            <p class="mbr-text mbr-fonts-style display-7"><strong>
              AngularJS</strong></p>
          </div>
          <div class="card-footer">
            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7"><span
            ><a href="#">AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily quick</a></span><span
            ><br></span></div>
            <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7"></small>
          </div>
        </div>
      </div>

      <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
        <div class="panel-item p-3">
          <div class="card-block">
            <div class="testimonial-photo">
              <img src="assets/images/12434118-spring-boot-logo-240x215.png" alt="tech-img">
            </div>
            <p class="mbr-text mbr-fonts-style display-7"><strong>SpringBoot</strong></p>
          </div>
          <div class="card-footer">
            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7"><span
            >Spring Boot makes it easy to create stand-alone, production-grade Spring based Applications that you can "just run".
</span></div>
            <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7"></small>
          </div>
        </div>
      </div>

      <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
        <div class="panel-item p-3">
          <div class="card-block">
            <div class="testimonial-photo">
              <img src="assets/images/logo-firebase-1920px-clr-240x240.png" alt="tech-img">
            </div>
            <p class="mbr-text mbr-fonts-style display-7"><strong>Firebase&nbsp;</strong></p>
          </div>
          <div class="card-footer">
            <div class="mbr-author-name mbr-bold mbr-fonts-style display-7"><span
            >lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</span>
            </div>
            <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7"></small>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<section class="android-section mbr-section content6 cid-rD6awTRVXN" id="content6-p">


  <div class="container">
    <div class="media-container-row">
      <div class="col-12 col-md-8">
        <div class="media-container-row">
          <div id="phone-img" class="mbr-figure">
            <img src="assets/images/kotlin-app-development-company-436x781.png" alt="Mobirise" title="">
          </div>
          <div class="media-content">
            <div class="mbr-section-text">
              <p class="mbr-text mb-0 mbr-fonts-style display-7">
                <strong>Download our Android app</strong>&nbsp;<br><br>Mobirise helps you cut down
                development time by providing you with a flexible website editor with a drag and drop
                interface. Mobirise Website Builder creates responsive, retina and <em>mobile friendly
                websites</em> in a few clicks. Mobirise is one of the easiest website development tools
                available today.
              </p>

              <div style="margin-top: 20px;">
                <a href="https://play.google.com/store"
                   class="btn btn-lg btn-sm btn-success display-4 btn-round">
                  Download
                </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





