<div class="modal-header updateModal" style="margin: auto">
    <h3 style="font-family: 'Poppins', sans-serif">{{title}}</h3>
</div>
<div class="modal-body ">

    <div class="row" style="margin: auto;text-align: center">
        <div class="col-4">
            <img src="assets/images/default-avatar-240x240.png" alt="" title=""
                 style=" width:50px;max-height: 100%">
            <p>player A</p>
            <button class="btn btn-sm btn-success display-4 btn-round" ng-click="selectGameCategory('')">
                Win
            </button>
        </div>
        <div class="col-4" style="padding-top: 50px;">
            vs
        </div>
        <div class="col-4"><img src="assets/images/default-avatar-240x240.png" alt="" title=""
                                style=" width:50px;max-height: 100%">
            <p>player A</p>
            <button class="btn btn-sm btn-success display-4 btn-round" ng-click="selectGameCategory('')">
                Win
            </button>
        </div>
    </div>

    <hr>

    <div class="row" style="margin: auto;text-align: center">
        <div class="col-4">
            <img src="assets/images/default-avatar-240x240.png" alt="" title=""
                 style=" width:50px;max-height: 100%">
            <p>player A</p>
            <button class="btn btn-sm btn-success display-4 btn-round" ng-click="selectGameCategory('')">
                Win
            </button>
        </div>
        <div class="col-4" style="padding-top: 50px;">
            vs
        </div>
        <div class="col-4"><img src="assets/images/default-avatar-240x240.png" alt="" title=""
                                style=" width:50px;max-height: 100%">
            <p>player A</p>
            <button class="btn btn-sm btn-success display-4 btn-round" ng-click="selectGameCategory('')">
                Win
            </button>
        </div>
    </div>


</div>
<div class="modal-footer" style="margin: auto">

    <button class="btn btn-black-outline display-4 btn-round" ng-click="cancel()">CLOSE</button>
</div>
