<ng-form [formGroup]="formGroup">
  <p class="lead">
    Pick a password.
  </p>
  <mat-form-field appearance="outline" class="form">
    <mat-label>Password</mat-label>
    <input [errorStateMatcher]="matcher" [formControl]="passwordControl" [type]="hide ? 'password' : 'text'" matInput
           required>
    <mat-error *ngIf="passwordControl.hasError('minlength') && !passwordControl.hasError('required')">
      Must be at least 6 characters.
    </mat-error>
    <mat-error *ngIf="passwordControl.hasError('required')">
      Enter a password
    </mat-error>
    <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
            matSuffix>
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form">
    <mat-label>Confirm password</mat-label>
    <input [formControl]="confirmPasswordControl" [type]="hide ? 'password' : 'text'" matInput>
    <mat-error *ngIf="formGroup.errors">
      Passwords must match.
    </mat-error>
    <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
            matSuffix>
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <div class="d-flex justify-content-center">
    <button (click)="submit()" *ngIf="!formGroup.errors" color="primary" mat-raised-button>Submit</button>
    <button *ngIf="formGroup.errors" color="primary" disabled mat-raised-button>Submit</button>
  </div>
</ng-form>
