@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css");

.nav-item:hover {
  opacity: 0.7;
}

.navbar {
  position: sticky;
  top: 0;
  height: 100px;
  z-index: 1000;
}

.search-field {
  margin-left: 32px;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  margin: 0 16px;
}

.cursor-pointer {
  cursor: pointer;
}
