@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.fa {
  text-align: center;
  margin: 12px;

  width: 70px;
  height: 70px;
  padding: 16px 16px;
  border-radius: 50%;
  font-size: 24px;
  line-height: 1.33;
}

.fa:hover {
  opacity: 0.7;
}

.fa-google {
  background-color: #dd4b39;
}

.fa-facebook {
  background-color: #3B5998;
}

:host {
  margin-top: 16px;
  width: 100%;
}
