@import 'src/sass/variables';

footer {

  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("src/assets/images/footer-img-1000x366.png");
  background-size: cover;


  .soc-item {
    color: rgb(247, 237, 74);
    fill: rgb(247, 237, 74);
    padding: 5px;
  }


  .row-copirayt {

    span {
      color: $color_secondary;
    }
  }

  .row-links {
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;

  }

  .social-row {
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;

  }

  .media-container-row {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;


    .foot-menu {
      list-style: none;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 0;
      margin-bottom: 0;


      li {
        padding: 0 1rem 1rem 1rem;

        p {
          margin: 0;;
        }
      }
    }

    .social-list {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;


      .mbr-iconfont-social {
        font-size: 1.5rem;
        color: $color_light;

      }

      .soc-item {
        margin: 0 .5rem;

      }

      a {
        margin: 0;
        opacity: .5;
        -webkit-transition: .2s linear;
        transition: .2s linear;

        &:hover {
          opacity: 1;

        }
      }
    }

    .row-copirayt {
      word-break: break-word;
      width: 100%;

      p {
        width: 100%;

      }
    }
  }
}

