<div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i
  class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
<input name="animation" type="hidden">

<footer>


  <div class="container">
    <div class="media-container-row align-center mbr-white">

      <div class="row social-row">
        <div class="social-list align-right pb-2">


          <div class="soc-item">
            <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-github socicon"
                            ></span>
            </a>
          </div>
          <div class="soc-item">
            <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-twitch socicon"
                            ></span>
            </a>
          </div>
          <div class="soc-item">
            <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-discord socicon"
                            ></span>
            </a>
          </div>
          <div class="soc-item">
            <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-steam socicon"
                            ></span>
            </a>
          </div>
        </div>
      </div>
      <div class="row row-copirayt">
        <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7"><em>
          © Copyright 2019 <span  >Arena Tournament </span> - All Rights Reserved
        </em></p>
      </div>
    </div>
  </div>
</footer>
