<div class="flex-center" style="margin-top: 64px">
  <p class="mat-h1">Login</p>
</div>
<div class="flex-center">
  <ng-form [formGroup]="loginFormGroup">
    <!--  Email -->
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input [errorStateMatcher]="matcher" [formControl]="emailFormControl" matInput
             placeholder="example@email.domain">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Error: legit email format required
      </mat-error>
    </mat-form-field>
    <br/>
    <!--  Password -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input [errorStateMatcher]="matcher" [formControl]="passwordFormControl" matInput type="password">
      <mat-error *ngIf="passwordFormControl.hasError('password') || !passwordFormControl.hasError('required')">
        {{getPasswordError()}}
      </mat-error>
    </mat-form-field>
    <div class="flex-center">
      <button (click)="onSubmit(loginFormGroup.value)" mat-raised-button>Login</button>
    </div>
  </ng-form>
</div>
<div class="d-flex justify-content-around">
  <app-oauth-login></app-oauth-login>
</div>
